.container {
    padding: 0 2rem;
}

.faqs {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 12px;
    overflow-x: hidden;
}

.home {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

div>ul {
    list-style-type: none;
}