.background {
    height: 1000px;
    background-image: url('../images/landing.webp');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.centertext {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 80px;
}
h4 {
    font-size: 30px;
}