.background {
    height: 100vh;
    background-image: url('../images/landing.webp');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
}

.centertext {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 80px;
    margin-bottom: 1rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
h4 {
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}