.background {
    height: 100vh;
    background-image: url('../images/yeat.gif');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
}